project_id = "kkpbwuzxunefujucrbfr"

[functions.generate-ad-variants]
verify_jwt = false

[functions.create-checkout-session]
verify_jwt = true

[functions.create-portal-session]
verify_jwt = true

[functions.stripe-webhook]
verify_jwt = false
